.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#menu-fond {
  padding-top: 5px;
  margin: 0;
  font-size: 12px;
  list-style: none;
}

@media (max-width: 991px) {
  #menu-fond {
    text-align: center;
  }
}

#menu-fond > li {
  display: inline-block;
}

#menu-fond > li a {
  color: #eeeeee;
}

#menu-fond > li + li:before {
  content: "|\A0";
  padding: 0 5px;
  color: #f7f7f7;
}

#menu-fond > .active {
  color: #999999;
}

